<div class='row'>
	<div class='container text-center' style="margin-top: 150px;">

		<img src="app_v1/assets/images/symbol.png" alt="" class='animated flip'> <br/>
		
		<img src="app_v1/assets/images/symbol2.png"  class='animated rubberBand' data-ng-if='showSubImage'/> <br/>

		<img src="app_v1/assets/images/horizontal-loader.gif" alt="" data-ng-if='loader'>

		<div class='text-center animated fadeInDown' style='width: 300px; margin: 40px auto;' data-ng-if='languages.length'>
			<label>Choose your language</label>
			<select class='form-control' data-ng-model='input.language' data-ng-change='translate()'>
				<option value=''> Select Language</option>
				<option data-ng-repeat='lang in languages track by $index' value='{{lang.code}}' data-ng-bind='lang.name'></option>
			</select>
		</div>
	</div>
</div>