<!-- page content -->
<style>
.paginationclass{

margin: 19px 28px;
}
.paginationclass span{
    margin-left:15px;
    display:inline-block;
}
.pagination-controle li{
    display: inline-block;
}
.pagination-controle button{
    font-size: 12px;
    margin-top: -26px;
    cursor:pointer;

}
.pagination{
    margin:5px 12px !important;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}
</style>
<div class="">
  <div class="clearfix"></div>

  <div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12" data-ng-init='getReport()'>
      <div class="x_panel" style="height:600px;overflow-y:scroll;">
        <div class="x_title">
          <h2 translate="form.reports"></h2>
          <!-- <ul class="nav navbar-right panel_toolbox">
            <li class="" style='color:#c3c3c3;'>
              <a data-ui-sref='app.topic_area_add' title='Adding New Topic Area' href='javascript:void(0);' class='btn btn-link'>
              <i class="fa fa-pencil"></i>&nbsp; {{'table.add_new_item' | translate}}</a>
            </li>
            </li>
          </ul> -->
          <div class="clearfix"></div>
        </div>
        <ol class="breadcrumb">
          <li><a href='javascript:void(0);' data-ui-sref='app'  translate="home.menu.home">Home</a></li>
          <li class="active" >{{'form.reports' | translate}}</li>
        </ol>

        <div class='alert alert-success alert-dismissible animated flash' data-ng-if='save'>
          <button type="button" class="close" aria-label="Close" data-ng-click='closeAlert()'><span aria-hidden="true">&times;</span></button>
          <strong class='glyphicon glyphicon-ok'></strong> &nbsp; Topic Area details are saved.
        </div>

        <div data-ng-if='loader' style='height: 100%; padding-top: 200px; text-align: center;'>
          <img data-ng-src='app/assets/images/app-loader.gif'/>
        </div>

        <div class="pagination pagination-centered" ng-show="items.length" style="
    margin-left: -11px !important;">
            <ul class="pagination-controle pagination">
             <li>
              <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
             ng-click="curPage=curPage-1"> &lt; {{'table.prev' | translate}}</button>
             </li>
             <li>
             <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
             </li>
             <li>
             <button type="button" class="btn btn-primary"
             ng-disabled="curPage >= items.length/pageSize - 1"
             ng-click="curPage = curPage+1">{{'table.next' | translate}} &gt;</button>
             </li>
            </ul>
        </div>
        <div class="pull-right" style="width: 250px; display: inline-block; margin-bottom: 20px;" ng-if="!loader">
           <form class="form-inline">
               <div class="form-group">
                     <div class="right-inner-addon">
                         <i class="fa fa-search"></i>
                         <input type="text" ng-model="search.studentId" class="form-control" placeholder="{{'table.search' | translate}}" style="width: 249px;" value=" "/>
                     </div>
               </div>
           </form>
         </div>

       	<table class='table table-stripeed' data-ng-if='items.length && !loader'>
       		<thead >
			    <tr class='info'>
                    <th style='width:50px;' translate="table.sno"></th>
        			<!-- <th style='width:201px;' translate="register.form.student_id"></th>
                    <th style='width:201px;' translate="login.student_name"></th>
                    <th style='width:201px;' translate="table.student_email_id"></th> -->
                    <!-- <th style='width:201px;' translate="form.supervisor_name">Supervisor Name</th>
                    <th style='width:201px;' translate="form.supervisor_emailid">Supervisor Email Id</th>
                    <th style='width:201px;' translate="form.no_of_student_pra">No of Student Practiced & Tested</th> -->
                    <th style='width:160px;'>Supervisor ID</th>
                    <th style='width:250px;'>No of Times Student Appeared For Test</th>
                    <th style='width:201px;'>No of Times Student Passed</th>
                    <th style='width:70px;'>SuccessRate</th>
				</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat='item in items | pagination: curPage * pageSize | limitTo: pageSize '>
						<td>{{pageSize *(curPage)+$index+1}}</td>
                        <!-- <td data-ng-bind='item.student.studentId'>2</td>
                        <td data-ng-bind='item.student.name'>2</td>
                        <td data-ng-bind='item.student.email'>2</td> -->
                        <!-- <td data-ng-bind='item.admin.name'>2</td>
                        <td data-ng-bind='item.admin.email'>2</td>
                        <td data-ng-bind='item.count'>2</td> -->
                        <td data-ng-bind='item.id'>2</td>
                        <td data-ng-bind='item.total'>2</td>
                        <td data-ng-bind='item.passed'>2</td>
                        <td>{{item.percent}}%</td>
						<!-- <td>
							<a href='javascript:void(0);' class='btn btn-info btn-xs text-primary' data-ng-click='editItem(item)'>
                <span class='fa fa-edit'>&nbsp;&nbsp;&nbsp;{{'table.edit' | translate}}&nbsp;&nbsp;</span>
              </a> &nbsp; | &nbsp;
              <a href='javascript:void(0);' class='btn btn-danger btn-xs text-danger' data-ng-click='removeItem(item, $index)'>
                <span class='fa fa-remove'>&nbsp;{{'table.delete' | translate}}</span>
              </a>
						</td> -->
					</tr>
				</tbody>
       	</table>
        <div data-ng-if='!loader && !items.length' style='height: 100%; padding-top: 150px; text-align: center;'>
          <h3><span class='fa fa-warning text-warning'></span>{{'form.noreportsfound' | translate}}</h3> <br />
        </div>
      </div>

    </div>

  </div>
</div>

<!-- /page content -->
